:root {
    font-size: 62.5%;
    --main-color: #89C5CC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Times New Roman', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    

    height: 100vh;

    background: linear-gradient(180deg, rgba(0,0,0,0) 82%, rgba(105,185,157,0.3) 100%);
}

.page {
    width: 100.8rem;
    margin: 6.5rem auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.8rem;
}

a {
    text-decoration: none;
    color: #1F1534;
}

ul {
    display: flex;
    gap: 4.8rem;
}

ul li {
    list-style: none;
}

ul li a {
    opacity: 0.5;
}


ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8.2rem;
}

h1 {
    font-family: 'Mulish', 'Times New Roman', sans-serif;
    font-weight: 400;
    font-size: 4.9rem;
    line-height: 5.6rem;
}

h1 span {
    color: var(--main-color);
    font-weight: bold;
}

.left {
    width: 43.8rem;
}

p {
    margin: 4rem 0;
    color: #7D7987;
}

p span {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
}

footer p a {
    font-weight: bold;
}

#logo {
    font-family: 'Inter', 'Times New Roman', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--main-color);
}

button {
    background: #69B99D;
    text-transform: uppercase;
    padding: 1.4rem 3.2rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border: 0;
    border-radius: .4rem;

    color: #F9F9F9;
    font-weight: 400;

    cursor: pointer;
}

button:hover {
    background: #529f84;
}

button img {
    width: 2.4rem;
    height: 2.4rem;
}

.balls {
    position: fixed;
    right: 0;
}
